.meal {
    display: flex;
    margin: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #ccc;
}

.meal h3 {
    margin: 0 0 0.25rem 0;
}

.meal-info{
    flex-grow: 11;
}

.meal-form{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right:10px;
}

.description {
    font-style: italic;
}

.price {
    margin-top: 0.25rem;
    font-weight: bold;
    color: #ad5502;
    font-size: 1.25rem;
}

button.delete-btn{
    margin-left:20px;
    background-color: rgba(197, 211, 222, 0.35);
    color: rgba(113, 137, 155, 0.35);
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

button.delete-btn:hover{
    background-color: rgba(141, 165, 183, 0.35);
}