.meal {
    display: flex;
    margin: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #ccc;
}

.meal h3 {
    margin: 0 0 0.25rem 0;
}

.meal-info{
    flex-grow: 11;
}

.meal-form{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right:10px;
}

.description {
    font-style: italic;
}

.price {
    margin-top: 0.25rem;
    font-weight: bold;
    color: #ad5502;
    font-size: 1.25rem;
}

button.delete-btn{

}